@using EncyclopediaGalactica.BusinessLogic.Contracts
<FluentGrid>
    <FluentGridItem xs="12" sm="12" md="12" lg="12" xl="12" xxl="12">
        <FluentCombobox TOption="DocumentResult"
                        OptionValue="@(r => r.Id.ToString())"
                        OptionText="@(r => r.Name)"
                        Items="_documentResults"
                        Label="Documents"
                        SelectedOptionChanged="SelectDocumentAsync!">
        </FluentCombobox>
    </FluentGridItem>
    <FluentGridItem xs="12" sm="12" md="12" lg="12" xl="12" xxl="12">
        @if (_selectedDocument == null)
        {
            <h4>No document is selected</h4>
        }
        else
        {
            <h4>Document (@(_selectedDocument.Id)): @(_selectedDocument.Name)</h4>
            <hr/>
            <p>Root Document Structure id: </p>
            <FluentTreeView>
                <EGDocumentStructureTree
                    StructureNode="_selectedDocument.DocumentStructure.StructureNode"/>
            </FluentTreeView>
        }
    </FluentGridItem>
</FluentGrid>