@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@if (ModuleAndScreenState?.Value.SelectedScreen is null)
{
    <h1>Documents main content</h1>
}
else
{
    @switch (ModuleAndScreenState.Value.SelectedScreen)
    {
        case "document_catalog":
            <EGDocumentGrid/>
            break;

        case "document_structure":
            <EGDocumentStructuresGrid/>
            break;

        case "document_type":
            <EGDocumentTypeGrid/>
            break;

        case "file_format":
            <EGFileFormatGrid/>
            break;

        case "relation_types":
            <EGRelationTypeGrid/>
            break;

        case "relations":
            <EGRelationGrid/>
            break;

        case "applications":
            <EGApplicationGrid/>
            break;

case "document_structure_tree_editor":
<EGDocumentStructureEditor/>
break;
    }
}